.contact-container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}
  
.contact-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
  
.contact-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
  
.contact-info {
    margin-top: 20px;
}
  
.contact-info p {
    margin-bottom: 10px;
}
  
.contact-container form {
    margin-top: 20px;
    width: 75%;
    background-color: grey;
    padding: 50px;
    margin: 0 auto; /* Center the form horizontally */
}

.contact-container form .MuiFormControl-root {
    margin-bottom: 15px; /* Add spacing between form elements */
}

.contact-container form .MuiFormControl-root:last-child {
    margin-bottom: 0; /* Remove margin from last form element */
}
