.head {
  padding: 20px 0px 5px;
  color: #fff;
  background-image: url("../../../../public/images/bg.jpg");
  
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.logo {
  text-align: center; 
}

.logo h1 {
  font-size: 45px;
  font-weight: 950;
  margin: 0;
}

.logo span {
  font-size: 18px;
}

header {
  background-image: url("../../../../public/images/bg.jpg");
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center;
  padding: 20px 30px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.5s;
}

header nav ul li a:hover {
  color: #0056b3;
}
